
.bottom-pane{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    min-height: 156px;
    height:156px;
    background-color: #191e28;
    color: #ffffff;
    border-top: 4px solid #ee4a4b;
    box-sizing: content-box;
}
.bottom-pane__btn{
    padding: 0 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #2e384f;
    border: 1px solid #2e384f;
    border-radius: 0;
    color: #ffffff;
    cursor: pointer;
    margin: 36px 0 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    height: 80px;
    min-height: 80px;
    min-width: 160px;
    font-size: 30px;
    box-sizing: border-box;
    line-height: 78px;
}
.bottom-pane__btn:focus,
.bottom-pane__btn:hover
{
    background: #ff4847;
    text-decoration: none!important;
}
.bottom-pane__arrow.arrow-disabled{
    opacity: 0.5;
}
.bottom-pane .arrow-back{
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100px;
    font-size: 0;
}
.bottom-pane .arrow-back:before{
    content:'';
    position: absolute;
    margin-top: -22px;
    top: 50%;
    left: 0;
    display: block;
    border: 22px solid transparent;
    border-right: 39px solid #fff;
}

.bottom-pane .arrow-forward{
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100px;
    font-size: 0;
}
.bottom-pane .arrow-forward:before{
    content:'';
    position: absolute;
    margin-top: -22px;
    top: 50%;
    right: 0;
    display: block;
    border: 22px solid transparent;
    border-left: 39px solid #fff;
}
.bottom-pane .arrow-disabled{
    opacity: 0.5;
}