div#mlkeyboard ul li {
    font-family: "Open Sans", Helvetica, "Lucida Grande", sans-serif;
    background-color: #496094;
    border: 1px solid #496094;
    border-radius: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 8px 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    height: 80px;
    min-height: 80px;
    min-width: 160px;
    font-size: 30px;
}
div#mlkeyboard ul li:focus {
    box-shadow: none;
    outline: 0;
}
div#mlkeyboard ul li:active {
    background: #2e384f;
    border-color: #2e384f;
    box-shadow: none;
    outline-offset: -2px;
}
div#mlkeyboard ul li:disabled {
    background: #d9dde4 !important;
    border-color: #d9dde4 !important;
    color: #ffffff !important;
    cursor: not-allowed;
}
div#mlkeyboard ul li.force {
    background-color: #2e384f;
    border-color: #2e384f;
}
div#mlkeyboard ul li.force:active {
    background: #496094;
    border-color: #496094;
}
div#mlkeyboard ul li.red {
    background-color: #ee4a4b;
    border-color: #ee4a4b;
}
div#mlkeyboard ul li.red:active {
    background: #ed3235;
    border-color: #ed3235;
}


div#mlkeyboard {
    width: 1080px;
    position: absolute;
    bottom: 160px;
    height: 670px;
    background-image: url('bg.png');
    background-repeat: repeat;
}

div#mlkeyboard li {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

div#mlkeyboard ul {
    list-style: none;
    font-size: 12px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 940px;
    height: 480px;
    margin: 0 auto;
    padding: 69px 0 0 20px;
}

div#mlkeyboard ul li {
    float: left;
    text-align: center;
    cursor: pointer;
    min-width: 45px !important;
    margin: 9px 5px 9px 10px;
    padding: 0;
    line-height: 80px;
    background-color: #2e384f;
    border-color: #2e384f;
}
div#mlkeyboard ul li:active,
div#mlkeyboard ul li.active {
    background: #496094;
    border-color: #496094;
}

div#mlkeyboard ul li.new_line{
    clear: left;
}
div#mlkeyboard ul li.number {
    min-width: 68px!important;
    margin-right: 12px;
}

div#mlkeyboard ul li.ru-line-1 {
    min-width: 60px!important;
    margin-right: 4px;
}
div#mlkeyboard ul li.ru-line-2 {
    min-width: 66px!important;
}
div#mlkeyboard ul li.ru-line-3 {
    min-width: 64px!important;
}
div#mlkeyboard ul li.line-4 {
    min-width: 65px!important;
}

div#mlkeyboard ul li.en-line-1 {
    min-width: 68px!important;
    margin-right: 12px;
}
div#mlkeyboard ul li.en-line-2 {
    min-width: 80px!important;
    margin-right: 10px;
}
div#mlkeyboard ul li.en-line-3 {
    min-width: 68px!important;
    margin-right: 10px;
}
div#mlkeyboard ul li.line-4 {
    min-width: 65px!important;
}

div#mlkeyboard ul #mlkeyboard-change-layout {
    width: 66px;
}

div#mlkeyboard ul #mlkeyboard-backspace {
    min-width: 86px!important;
    line-height: 85px;
}

div#mlkeyboard ul #mlkeyboard-backspace svg{
    height: 30px;
    width: 44px;
}

div#mlkeyboard ul #mlkeyboard-tab {
    width: 65px;
}

div#mlkeyboard ul #mlkeyboard-capslock {
    width: 75px;
}

div#mlkeyboard ul #mlkeyboard-return {
    width: 120px;
}

div#mlkeyboard ul #mlkeyboard-return svg{
    width: 32px;
    height: 32px;
    margin-top: 25px;
}

div#mlkeyboard ul #mlkeyboard-left-shift {
    width: 100px;
}

div#mlkeyboard ul #mlkeyboard-right-shift {
    width: 96px;
    margin-right: 0;
}

div#mlkeyboard ul #mlkeyboard-space {
    width: 266px;
}

div#mlkeyboard ul.mlkeyboard-modifications {
    position: absolute;
    background: rgba(133, 133, 133, 0.6);
    border-radius: 5px;
    display: none;
    padding: 8px;
    height: 46px;
}
div#mlkeyboard li#mlkeyboard-capslock{
    display: none;
}
div#mlkeyboard.caps-enabled li#mlkeyboard-capslock{
    display: block;
    width: 120px;
}
div#mlkeyboard.caps-enabled li#mlkeyboard-40.line-4,
div#mlkeyboard.caps-enabled li#mlkeyboard-41.line-4
{
    display: none;
}
div#mlkeyboard.caps-enabled li#mlkeyboard-space{
    width: 293px;
}

div#mlkeyboard.mode-digital ul li:not(.number):not(#mlkeyboard-return):not(#mlkeyboard-backspace){
    pointer-events: none;
    opacity: 0.3;
    color: #797979;
    cursor: not-allowed;
}